Pull the following from this link https://www1.nyc.gov/site/tlc/about/tlc-trip-record-data.page

- Taxi trip records from 4 sources

- Associated data dictionaries

- Taxi zone lookups

Answer the following questions about the effects of the Corona Virus on taxi transportation in NYC:

1. What has been the economic impact of the pandemic on NYC taxi revenue over time?

2. What was the most expensive trip? Between what zones? Conversely, what was the cheapest trip? What is the difference between these before and during the peak impact of the pandemic?

3. What's the most popular payment method? Did this change because of the pandemic?

4. Whatâ€™s the most expensive day of the week to travel on? Did this change because of the pandemic?

In [61]:
import pandas as pd
import numpy as np

In [37]:
# merging 12 csv files for green taxis 2019
df_green_2019 = pd.concat(
    map(pd.read_csv, [
                      '/content/drive/MyDrive/Spekit data/2019/01/green_tripdata_2019-01.csv', 
                      '/content/drive/MyDrive/Spekit data/2019/02/green_tripdata_2019-02.csv',
                      '/content/drive/MyDrive/Spekit data/2019/03/green_tripdata_2019-03.csv',
                      '/content/drive/MyDrive/Spekit data/2019/04/green_tripdata_2019-04.csv',
                      '/content/drive/MyDrive/Spekit data/2019/05/green_tripdata_2019-05.csv',
                      '/content/drive/MyDrive/Spekit data/2019/06/green_tripdata_2019-06.csv',
                      '/content/drive/MyDrive/Spekit data/2019/07/green_tripdata_2019-07.csv',
                      '/content/drive/MyDrive/Spekit data/2019/08/green_tripdata_2019-08.csv',
                      '/content/drive/MyDrive/Spekit data/2019/09/green_tripdata_2019-09.csv',
                      '/content/drive/MyDrive/Spekit data/2019/10/green_tripdata_2019-10.csv',
                      '/content/drive/MyDrive/Spekit data/2019/11/green_tripdata_2019-11.csv',
                      '/content/drive/MyDrive/Spekit data/2019/12/green_tripdata_2019-12.csv',
                      ]), ignore_index=True)

# merging 12 csv files for green taxis 2020
df_green_2020 = pd.concat(
    map(pd.read_csv, [
                      '/content/drive/MyDrive/Spekit data/2020/01/green_tripdata_2020-01.csv', 
                      '/content/drive/MyDrive/Spekit data/2020/02/green_tripdata_2020-02.csv',
                      '/content/drive/MyDrive/Spekit data/2020/03/green_tripdata_2020-03.csv',
                      '/content/drive/MyDrive/Spekit data/2020/04/green_tripdata_2020-04.csv',
                      '/content/drive/MyDrive/Spekit data/2020/05/green_tripdata_2020-05.csv',
                      '/content/drive/MyDrive/Spekit data/2020/06/green_tripdata_2020-06.csv',
                      '/content/drive/MyDrive/Spekit data/2020/07/green_tripdata_2020-07.csv',
                      '/content/drive/MyDrive/Spekit data/2020/08/green_tripdata_2020-08.csv',
                      '/content/drive/MyDrive/Spekit data/2020/09/green_tripdata_2020-09.csv',
                      '/content/drive/MyDrive/Spekit data/2020/10/green_tripdata_2020-10.csv',
                      '/content/drive/MyDrive/Spekit data/2020/11/green_tripdata_2020-11.csv',
                      '/content/drive/MyDrive/Spekit data/2020/12/green_tripdata_2020-12.csv'
                      ]), ignore_index=True)

# merging 7 csv files for green taxis 2021
df_green_2021 = pd.concat(
    map(pd.read_csv, [
                      '/content/drive/MyDrive/Spekit data/2021/01/green_tripdata_2021-01.csv', 
                      '/content/drive/MyDrive/Spekit data/2021/02/green_tripdata_2021-02.csv',
                      '/content/drive/MyDrive/Spekit data/2021/03/green_tripdata_2021-03.csv',
                      '/content/drive/MyDrive/Spekit data/2021/04/green_tripdata_2021-04.csv',
                      '/content/drive/MyDrive/Spekit data/2021/05/green_tripdata_2021-05.csv',
                      '/content/drive/MyDrive/Spekit data/2021/06/green_tripdata_2021-06.csv',
                      '/content/drive/MyDrive/Spekit data/2021/07/green_tripdata_2021-07.csv',
                      ]), ignore_index=True)

/usr/local/lib/python3.7/dist-packages/IPython/core/interactiveshell.py:2882: DtypeWarning: Columns (3) have mixed types.Specify dtype option on import or set low_memory=False.
  exec(code_obj, self.user_global_ns, self.user_ns)

In [38]:
# convert date columns to dt
df_green_2019['lpep_pickup_datetime'] = pd.to_datetime(df_green_2019['lpep_pickup_datetime'])
df_green_2019['lpep_dropoff_datetime'] = pd.to_datetime(df_green_2019['lpep_dropoff_datetime'])
df_green_2020['lpep_pickup_datetime'] = pd.to_datetime(df_green_2020['lpep_pickup_datetime'])
df_green_2020['lpep_dropoff_datetime'] = pd.to_datetime(df_green_2020['lpep_dropoff_datetime'])
df_green_2021['lpep_pickup_datetime'] = pd.to_datetime(df_green_2021['lpep_pickup_datetime'])
df_green_2021['lpep_dropoff_datetime'] = pd.to_datetime(df_green_2021['lpep_dropoff_datetime'])

In [39]:
green_2019_mean = df_green_2019['fare_amount'].mean()
green_2019_std = df_green_2019['fare_amount'].std()
green_2019_right = green_2019_mean + (green_2019_std * 3)
green_2019_left = green_2019_mean - (green_2019_std * 3)

df_green_2019.drop(df_green_2019[df_green_2019['fare_amount'] < 1].index, inplace = True)
df_green_2019.drop(df_green_2019[df_green_2019['fare_amount'] > green_2019_right].index, inplace = True)

df_green_2019 = df_green_2019.sort_values('fare_amount', ascending=False)

green_2020_mean = df_green_2020['fare_amount'].mean()
green_2020_std = df_green_2020['fare_amount'].std()
green_2020_right = green_2020_mean + (green_2020_std * 3)
green_2020_left = green_2020_mean - (green_2020_std * 3)

df_green_2020.drop(df_green_2020[df_green_2020['fare_amount'] < 1].index, inplace = True)
df_green_2020.drop(df_green_2020[df_green_2020['fare_amount'] > green_2020_right].index, inplace = True)

df_green_2020 = df_green_2020.sort_values('fare_amount', ascending=False)

green_2021_mean = df_green_2021['fare_amount'].mean()
green_2021_std = df_green_2021['fare_amount'].std()
green_2021_right = green_2021_mean + (green_2021_std * 3)
green_2021_left = green_2021_mean - (green_2021_std * 3)

df_green_2021.drop(df_green_2021[df_green_2021['fare_amount'] < 1].index, inplace = True)
df_green_2021.drop(df_green_2021[df_green_2021['fare_amount'] > green_2021_right].index, inplace = True)

df_green_2021 = df_green_2021.sort_values('fare_amount', ascending=False)

In [36]:
df_green_2019.to_csv('/content/drive/MyDrive/Spekit data/df_green_2019')
df_green_2020.to_csv('/content/drive/MyDrive/Spekit data/df_green_2020')
df_green_2021.to_csv('/content/drive/MyDrive/Spekit data/df_green_2021')

In [ ]:
aa

1. What has been the economic impact of the pandemic on NYC taxi revenue over time?

In [31]:
green_rev_2019 = df_green_2019['total_amount'].sum() - df_green_2019['tip_amount'].sum()
green_rev_2020 = df_green_2020['total_amount'].sum() - df_green_2020['tip_amount'].sum()
green_rev_2021 = df_green_2021['total_amount'].sum() - df_green_2021['tip_amount'].sum()

print('Green Taxi Revenue')
print('2019 Total Fare Revenue: $  {: 9,.2f}'.format(green_rev_2019))
print('2020 Total Fare Revenue: $  {: 9,.2f}'.format(green_rev_2020))
print('2021 Total Fare Revenue: $  {: 9,.2f}'.format(green_rev_2021))

Green Taxi Revenue
2019 Total Fare Revenue: $   91,195,889.14
2020 Total Fare Revenue: $   30,517,845.35
2021 Total Fare Revenue: $   12,280,480.07

Calculate the percent change from 2019 to 2020

In [ ]:
green_pct_chg = (green_rev_2020 - green_rev_2019) / green_rev_2019
print('{:.2%}'.format(green_pct_chg))

In [66]:
df_green_2019.resample(rule='M', on='lpep_pickup_datetime')['fare_amount'].sum()

lpep_pickup_datetime
2008-12-31     112.5
2009-01-31    1140.5
2009-02-28       0.0
2009-03-31       0.0
2009-04-30       0.0
               ...
2062-04-30       0.0
2062-05-31       0.0
2062-06-30       0.0
2062-07-31       0.0
2062-08-31       2.8
Freq: M, Name: fare_amount, Length: 645, dtype: float64

2. What was the most expensive trip? Between what zones? Conversely, what was the cheapest trip? What is the difference between these before and during the peak impact of the pandemic?

In [69]:
display(df_green_2019.head(1))
display(df_green_2020.head(1))
display(df_green_2021.head(1))

        VendorID lpep_pickup_datetime  ... congestion_surcharge   weekday
614136       2.0  2019-01-31 09:54:30  ...                  0.0  Thursday

[1 rows x 21 columns]

         VendorID lpep_pickup_datetime  ... congestion_surcharge    weekday
1101022       NaN  2020-04-22 06:49:00  ...                  NaN  Wednesday

[1 rows x 21 columns]

        VendorID lpep_pickup_datetime  ... congestion_surcharge   weekday
564802       NaN  2021-07-31 09:55:00  ...                  NaN  Saturday

[1 rows x 21 columns]

In [70]:
display(df_green_2019.tail(1))
display(df_green_2020.tail(1))
display(df_green_2021.tail(1))

         VendorID lpep_pickup_datetime  ... congestion_surcharge weekday
4974978       2.0  2019-10-25 12:04:39  ...                  0.0  Friday

[1 rows x 21 columns]

       VendorID lpep_pickup_datetime  ... congestion_surcharge  weekday
61002       1.0  2020-01-07 11:51:53  ...                  0.0  Tuesday

[1 rows x 21 columns]

        VendorID lpep_pickup_datetime  ... congestion_surcharge weekday
258917       2.0  2021-04-23 14:32:58  ...                  0.0  Friday

[1 rows x 21 columns]

3. What's the most popular payment method? Did this change because of the pandemic?

In [57]:
print(df_green_2019['payment_type'].mode())
print(df_green_2020['payment_type'].mode())
print(df_green_2021['payment_type'].mode())

0    1.0
dtype: float64
0    1.0
dtype: float64
0    1.0
dtype: float64

In [59]:
display(df_green_2019['payment_type'].value_counts())

1.0    3140975
2.0    2357473
3.0      14997
4.0       7006
5.0        173
Name: payment_type, dtype: int64

In [62]:
total_pay_green_2019 = (np.count_nonzero(~np.isnan(df_green_2019['payment_type'])))
total_pay_green_2020 = (np.count_nonzero(~np.isnan(df_green_2020['payment_type'])))
total_pay_green_2021 = (np.count_nonzero(~np.isnan(df_green_2021['payment_type'])))

In [64]:
# Green payment types
print('Percent of Fares Paid W/ Card 2019: {:.2%}'.format(len(df_green_2019.loc[df_green_2019['payment_type'] == 1]) / total_pay_green_2019))
print('Percent of Fares Paid W/ Card 2020: {:.2%}'.format(len(df_green_2020.loc[df_green_2020['payment_type'] == 1]) / total_pay_green_2020))

print('Percent of Fares Paid W/ Cash 2019: {:.2%}'.format(len(df_green_2019.loc[df_green_2019['payment_type'] == 2]) / total_pay_green_2019))
print('Percent of Fares Paid W/ Cash 2020: {:.2%}'.format(len(df_green_2020.loc[df_green_2020['payment_type'] == 2]) / total_pay_green_2020))

Percent of Fares Paid W/ Card 2019: 56.90%
Percent of Fares Paid W/ Card 2020: 54.97%
Percent of Fares Paid W/ Cash 2019: 42.70%
Percent of Fares Paid W/ Cash 2020: 44.59%

4. Whatâ€™s the most expensive day of the week to travel on? Did this change because of the pandemic?

In [44]:
df_green_2019['weekday'] = df_green_2019['lpep_pickup_datetime'].dt.day_name()
df_green_2020['weekday'] = df_green_2020['lpep_pickup_datetime'].dt.day_name()
df_green_2021['weekday'] = df_green_2021['lpep_pickup_datetime'].dt.day_name()

In [54]:
daily_avg_2019 = df_green_2019.groupby('weekday').mean('fare_amount')
daily_avg_2019 = daily_avg_2019[['fare_amount']]
daily_avg_2019

           fare_amount
weekday
Friday       13.645348
Monday       13.688616
Saturday     13.084616
Sunday       13.201703
Thursday     13.878314
Tuesday      13.894959
Wednesday    13.911892

In [ ]:
df_green_2019.groupby('weekday').mean('fare_amount')

In [55]:
daily_avg_2020 = df_green_2020.groupby('weekday').mean('fare_amount')
daily_avg_2020 = daily_avg_2020[['fare_amount']]
daily_avg_2020

           fare_amount
weekday
Friday       16.050075
Monday       16.454867
Saturday     14.954043
Sunday       15.525852
Thursday     16.381564
Tuesday      16.682118
Wednesday    16.553851

In [56]:
daily_avg_2021 = df_green_2021.groupby('weekday').mean('fare_amount')
daily_avg_2021 = daily_avg_2021[['fare_amount']]
daily_avg_2021

           fare_amount
weekday
Friday       19.314710
Monday       19.536623
Saturday     18.321488
Sunday       18.848656
Thursday     19.655860
Tuesday      19.626737
Wednesday    19.515089